@font-face {
    font-family: justKidding;
    src: url(justkidding.ttf);
}

@font-face {
    font-family: ox;
    src: url(101.ttf);
}

body{
  background-image: url("http://2.bp.blogspot.com/-S0ynf99s0_Q/Ui_9A1SNtwI/AAAAAAAAAgU/9DpT2bPUcFM/s1600/Textures+Notebook+Paper+Backgrounds.jpg");
}

form {
  text-align: center;
}


.title {
  height: 100px;
  width: auto;
  text-align: center;
  font-family: justKidding;
  font-size: 40px;
}

.title > *{
  margin-top: 0px;
  margin-bottom: 0px;

}


.game-board {
  height: 450px;
  width: 537px;
  margin: auto;
  padding-left: 35px;
  padding-top: 60px;
  display: none;
}

.scoreboard {
  height: 50px;
  width: 600px;
  margin: auto;
  margin-top: 20px;
  display:none;
}

.scoreboard > * {
  float: left;
  margin-left: 45px;
  margin-right: 25px;
  font-family: ox;
}

.cb{

  margin-top: 15px;
  border-color: black;
  border-width: 1px;
  background-color: white;
}


.game-board > * {
  height: 30%;
  width: 30%;
  float: left;
  border-color: black;
  border-width: 10px;
  text-align: center;
  vertical-align: middle;
  font-size: 600%;
  font-family: ox;
  padding-top: 10px;
}

.bl_1{
  border-style: hidden;
}
.bl_2{
  border-style: hidden hidden hidden solid;
}
.bl_3{
  border-style: hidden hidden hidden solid;
}
.bl_4{
  border-style: solid hidden solid hidden;
  clear: both;
}
.bl_5{
  border-style: solid;
}
.bl_6{
  border-style: solid hidden solid hidden;
}
.bl_7{
  border-style: hidden hidden hidden hidden;
  clear: both;

}
.bl_8{
  border-style: hidden solid hidden solid;
}
.bl_9{
  border-style: hidden;
}







